## Import Necessary Libraries

In [20]:
# For data processing
import numpy as np
import pandas as pd
import csv

## Import dataset

In [23]:
df = pd.read_csv("datasets/Crop_recommendation.csv")

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

## Checking for abnormalities in dataset

In [25]:
df[df.duplicated()]

Empty DataFrame
Columns: [N, P, K, temperature, humidity, ph, rainfall, label]
Index: []

In [26]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

## Observations: 
- There are 2,200 rows and 7 columns in the dataset.

- There are no duplicate or missing values in any of the entries.

- All values in the data are numerical except for the label data.